{% extends "base.html" %}

{% block title %}FlagJudge - 目录{% endblock title %}

{% block container %}
<h1>FlagJudge - 目录</h1>
<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">题目</th>
    <th scope="col">总提交次数</th>
    <th scope="col">通过次数</th>
  </thead>
  <tbody>
    {% for problem in problems %}
    <tr>
      <th scope="row">{{ problem.id }}</th>
      <td><a href="/{{ problem.id }}/">{{ problem.title }}</a></td>
      <td>{{ count[problem.id].tried }}</td>
      <td>{{ count[problem.id].passed }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if notification %}
<h2 class="my-3">站点通知</h2>
{{ notification|markdown}}
{% endif %}
{% endblock container %}