{% extends "base.html" %}

{% block title %}FlagJudge - {{ problem.title }}{% endblock title %}

{% block container %}
<h1>{{ problem.title }}</h1>
<p>
  <b>时间限制：{{ problem.limit.time }} s</b>
  <br />
  <b>内存限制：{{ problem.limit.memory }} mb</b>
</p>
<h2>题面</h2>
{{ problem.description|markdown }}
<h2>指示</h2>
{{ problem.instruction|markdown }}
<h2>样例</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="w-50" scope="col">输入</th>
      <th class="w-50" scope="col">输出</th>
    </tr>
  </thead>
  <tbody>
    {% for sample in problem.samples %}
    <tr>
      <td>
        <pre class="bg-code border rounded my-1 px-1"><code>{{ sample.stdin }}</code></pre>
      </td>
      <td>
        <pre class="bg-code border rounded my-1 px-1"><code>{{ sample.stdout }}</code></pre>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>提交代码</h2>
<select class="form-select" id="langsel">
  {% for language in languages %}
  <option value="{{ language.id }}" data-monacoid="{{ language.monacoid }}">
    {{ language.name }} - {{ language.version }}
  </option>
  {% endfor %}
</select>
<div class="border my-2" id="monaco" style="height: 50vh;"></div>
<button class="btn btn-primary" type="submit" id="submit">提交</button>
{% endblock container %}

{% block jsarea %}
<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.34.1/min/vs/loader.js"></script>
<script src="/static/js/problem-editor.js"></script>
{% endblock jsarea %}